.about {
  margin: 0;
  display: flex;

  @include vp-767 {
    flex-direction: column;
  }
}

.about__wrapper {
  position: relative;
  margin: 0;
  width: 100%;
  max-width: 1440px;

  @include vp-1199 {
    padding: 0;
    max-width: 1200px;
  }

  @include vp-767 {
    max-width: 767px;
    display: flex;
    flex-direction: column;
    padding: 6px 0 0;
  }
}

.about h2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 60px;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
    margin: 3px 0 35px;
  }

  @include vp-767 {
    margin: 43px 0 35px;
    font-size: 22px;
    line-height: 22px;
  }
}

.about h2::after {
  content: attr(data-value);
  position: absolute;
  left: 0;
  top: 60px;
  font-size: 55px;
  font-weight: 800;
  line-height: 1;
  opacity: 0.03;

  @include vp-1199 {
    font-size: 40px;
    left: 0;
    top: 0;
  }

  @include vp-767 {
    font-size: 26px;
    left: 15px;
    top: 44.6%;
  }
}

.about h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 18px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 0;
  }

  @include vp-767 {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
  }
}

.about__text {
  padding-top: 50px;
  max-width: 585px;

  @include vp-1199 {
    padding-top: 0;
  }

  @include vp-767 {
    padding: 0 0 0 15px;
  }
}

.about__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 28px;

  @include vp-1199 {
    margin-right: 43px;
  }

  @include vp-767 {
    margin: 20px 10px 40px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.about__media {
  height: 474px;
  background-repeat: no-repeat;
  background-image: image-set("../img/about/about.png" 1x, "../img/about/about@2x.png" 2x);
  background-color: #ffffff;
  margin-top: 40px;
  min-width: 735px;

  @include vp-1199 {
    min-width: 398px;
    height: 434px;
    margin-top: 0;
    background-image: image-set("../img/about/about-tablet.png" 1x, "../img/about/about-tablet@2x.png" 2x);
  }

  @include vp-767 {
    min-width: 290px;
    margin-top: -20px;
    height: 402px;
    background-image: image-set("../img/about/about-mobile.png" 1x, "../img/about/about-mobile@2x.png" 2x);
  }
}

.about__media img {
  margin-top: 60px;
  background-position-x: center;
}
