.contacts {
  margin: 0;
  border-bottom: 1px solid #2d383f;
}

.contacts__wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 60px 50px 120px;
  display: grid;
  grid-template-columns: 595px 585px;
  gap: 20px;

  @include vp-1199 {
    padding: 5px 45px 85px;
    grid-template-columns: auto;
  }

  @include vp-767 {
    padding: 52px 15px 15px;
  }
}

.contacts h2 {
  margin: 0;
  padding: 32px 45px 22px 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0;
  text-align: left;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
    padding-bottom: 15px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    padding: 15px 45px 12px 0;
  }
}

.contacts h2::after {
  content: attr(data-value);
  position: absolute;
  left: 120px;
  top: 18px;
  font-size: 55px;
  font-weight: 800;
  line-height: 1;
  opacity: 0.03;

  @include vp-1199 {
    font-size: 40px;
  }

  @include vp-767 {
    left: 20px;
    top: 62px;
    font-size: 26px;
  }
}

.contacts__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin: 0 115px 15px 0;

  @include vp-1199 {
    padding-right: 145px;
  }

  @include vp-767 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0 15px 0 0;
  }
}

.contacts__list {
  padding: 15px 55px;

  @include vp-1199 {
    padding: 0 20px 10px;
    display: grid;
    grid-template-columns: 185px 205px 310px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 8px 16px 0;
    gap: 5px;
  }
}

.contacts__item {
  margin-bottom: 35px;

  @include vp-1199 {
    max-width: 292px;
    margin-left: 15px;
    margin-bottom: 0;
  }
}

.contacts__item h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 9px;

  @include vp-1199 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
    margin-top: 0;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
  }
}

.contacts__item p {
  margin-top: -2px;

  @include vp-1199 {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 0;
  }

  @include vp-767 {
    padding-right: 90px;
    padding-top: 7px;
  }
}

.contacts a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;

  @include vp-1199 {
    font-size: 14px;
    line-height: 22px;
  }
}

.contacts__item--tell::before {
  content: url("../img/sprite/contacts-phone.svg");
  position: absolute;
  right: 90%;
  top: 42%;
  z-index: -1;
  width: 26px;
  height: 26px;
  display: block;


  @include vp-1199 {
    position: relative;
    width: 24px;
    height: 24px;
    right: 36px;
    top: 34%;
  }

  @include vp-767 {
    position: relative;
    width: 22px;
    height: 22px;
    right: 32px;
  }
}

.contacts__item--mail::before {
  content: url("../img/sprite/contacts-mail.svg");
  position: absolute;
  right: 90%;
  top: 58%;
  z-index: -1;
  width: 26px;
  height: 26px;
  display: block;


  @include vp-1199 {
    position: relative;
    width: 24px;
    height: 24px;
    right: 36px;
    top: 34%;
  }

  @include vp-767 {
    width: 22px;
    height: 22px;
    right: 32px;
  }
}

.contacts__item--adress::before {
  content: url("../img/sprite/contacts-adress.svg");
  position: absolute;
  right: 90%;
  top: 74%;
  z-index: -1;
  width: 26px;
  height: 26px;
  display: block;


  @include vp-1199 {
    position: relative;
    width: 24px;
    height: 24px;
    right: 36px;
    top: 34%;
  }

  @include vp-767 {
    width: 22px;
    height: 22px;
    right: 32px;
    top: 25%;
  }
}

.contacts__map-container {
  @include vp-1199 {
    padding-right: 60px;
  }

  @include vp-767 {
    padding: 0;
  }
}
