.footer {
  margin: 0;
}

.footer__wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 30px 30px 0 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include vp-1199 {
    padding: 45px 45px 0;
  }

  @include vp-767 {
    padding: 32px 18px 0;
  }
}

.footer__link {
  width: 145px;
  padding-top: 25px;
  margin-left: 95px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0;
  text-align: right;

  @include vp-1199 {
    display: none;
  }
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;

  @include vp-1199 {
    gap: 70px;
  }

  @include vp-767 {
    max-width: 290px;
    gap: 8px;
  }
}

.footer__nav {
  padding-left: 35px;

  @include vp-1199 {
    padding-left: 13px;
  }

  @include vp-767 {
    gap: 25px;
    column-count: 2;
    padding-bottom: 0;
    padding-left: 1px;
  }
}

.footer__logo svg {
  @include vp-1199 {
    width: 118px;
    height: 34px;
  }
}
