.header__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;

  @include vp-1199 {
    font-size: 16px;
    line-height: 16px;
    text-align: right;
  }
}
