.info {
  width: 100%;
}

.info__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info__main svg {
  text-align: right;
  width: 24px;
  height: 24px;
  margin-top: 20px;

  @include vp-767 {
    margin: 22px 10px 0 0;
  }
}

.info__name {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 16px;
}

.info__about {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
}
