.info__top {
  display: flex;
  flex-direction: row;
  gap: 73px;

  @include vp-1199 {
    gap: 53px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: left;
    column-gap: 25px;
    row-gap: 12px;
  }
}

.info__top-long {
  display: flex;
  flex-direction: row;
  gap: 66px;

  @include vp-1199 {
    gap: 45px;
  }
}

.info__place {
  background-color: #0266c1;
  width: 108px;
  height: 29px;
  padding-left: 40px;

  @include vp-1199 {
    width: 92px;
    padding-left: 30px;
  }

  @include vp-767 {
    grid-area: 2 / 1 / 3 / 3;
    width: 97px;
  }
}

.info__place span {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0;
  text-align: left;
}

.info__place::after {
  content: url("../img/sprite/tour-pin.svg");
  width: 9px;
  height: 12px;
  position: absolute;
  left: 45px;

  @include vp-1199 {
    left: 35px;
  }
}

.info__day {
  @include vp-767 {
    min-width: 92px;
    padding-left: 35px;
  }
}

.info__day::after {
  content: url("../img/sprite/tour-sun.svg");
  width: 9px;
  height: 12px;
  position: absolute;
  left: 44%;
  top: 51%;

  @include vp-1199 {
    left: 41%;
  }

  @include vp-767 {
    left: 7%;
    top: 44.5%;
  }
}

.info__nigth {
  @include vp-767 {
    min-width: 92px;
    padding-left: 8px;
  }
}

.info__nigth::after {
  content: url("../img/sprite/tour-moon.svg");
  width: 9px;
  height: 12px;
  position: absolute;
  left: 73%;
  top: 51%;

  @include vp-1199 {
    left: 69%;
  }

  @include vp-767 {
    left: 38.5%;
    top: 44.5%;
  }
}

.info__central {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  padding-right: 60px;

  @include vp-1199 {
    padding-right: 0;
  }

  @include vp-767 {
    margin-top: 0;
  }
}

.info__central p {
  @include vp-767 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }
}

.info__bottom {
  display: flex;
  flex-direction: row;
  gap: 52px;
  margin-top: 5px;
  line-height: 22px;

  @include vp-1199 {
    gap: 25px;
  }

  @include vp-767 {
    gap: 10px;
  }
}

.info__bottom span {
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0;
  text-align: left;

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
  }
}

.info__bottom p {
  margin: 0;
}

.info__level {
  width: 81px;
}

.info__level span {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0;
  text-align: left;
  position: relative;
  top: -20px;
}

.info__level::after {
  content: url("../img/sprite/two-stars.svg");
  position: relative;
  top: -20px;
}

.info__level::before {
  content: url("../img/sprite/line.svg");
  color: #ffffff;
  position: relative;
  top: -30px;

  @include vp-767 {
    top: -25px;
  }
}

.info__level-three::after {
  content: url("../img/sprite/three-stars.svg");
  position: relative;
  top: -20px;
}
