.map {
  padding-top: 105px;
  height: 324px;

  @include vp-1199 {
    padding-top: 0;
  }
}

.map__frame {
  background-image: image-set("../img/contacts/map.jpg" 1x, "../img/contacts/map@2x.jpg" 2x);
  position: relative;
  border: none;
  display: block;
  width: 100%;
  height: 324px;

  @include vp-1199 {
    height: 340px;
  }

  @include vp-767 {
    height: 320px;
  }
}
