.navigation {
  order: 5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 122px;
  padding-top: 40px;
  max-width: 100%;

  &--closed,
  &--opened {
    @include vp-1199 {
      flex-wrap: nowrap;
    }
  }

  &--opened {
    @include vp-1199 {
      position: absolute;
      align-items: center;
      width: 100%;
      top: 0;
      right: 0;
      background-color: $color-default-white;
      padding: 0 45px;
      z-index: 10;
    }

    @include vp-767 {
      padding: 0 15px;
    }
  }

  &--closed .navigation__toggle {
    background-image: url("../img/sprite/toogle-menu.svg");
    fill: $color-default-white;
    padding-left: 0;
    cursor: pointer;
  }

  &--opened + span {
    @include vp-1199 {
      display: block;
      height: 74px;
    }

    @include vp-767 {
      height: 72px;
    }
  }

  &--opened img {
    @include vp-1199 {
      display: none;
    }
  }

  &--opened .navigation__logo {
    @include vp-1199 {
      display: block;
      width: 144px;
      height: 44px;
      background-image: url("../img/sprite/logotype-gray.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 144px 44px;
    }

    @include vp-767 {
      width: 112px;
      height: 34px;
      background-size: 112px 34px;
    }
  }

  &--opened .navigation__logo svg {
    display: none;
  }

  &--opened .navigation__toggle {
    background-image: url("../img/sprite/close.svg");
    background-size: 22px 22px;
    fill: $color-default-black;
    padding-left: 0;
    cursor: pointer;
  }

  &--opened ul {
    @include vp-1199 {
      position: absolute;
      flex-direction: column;
      top: 74px;
      right: 0;
      background-color: $color-default-white;
      width: 100%;
      z-index: 10;
      padding: 48px 45px 66px 45px;
    }

    @include vp-767 {
      top: 72px;
      padding: 23px 15px 46px 15px;
    }
  }

  &--opened a {
    @include vp-1199 {
      color: $color-default-black;
      font-weight: 700;
      letter-spacing: 0.64px;
      text-transform: uppercase;
    }

    @include vp-767 {
      font-size: 14px;
    }
  }

  &--opened .navigation__phone {
    @include vp-1199 {
      letter-spacing: 0%;
    }
  }

  &--closed ul {
    @include vp-1199 {
      display: none;
    }
  }

  &--nojs .navigation__toggle {
    display: none;
  }

  @include vp-1199 {
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1359px;
    padding-top: 30px;
    gap: 130px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 0 10px;
    padding-top: 15px;
  }
}

.navigation__toggle {
  display: none;

  &:active {
    background-color: #f0ebff;
  }

  @include vp-1199 {
    display: block;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-color: transparent;
    background-position: center;
    border: none;
  }

  @include vp-767 {
    margin-top: -6px;
  }
}

.navigation__link {
  font-size: 16px;
  line-height: 1;
  color: $color-default-white;
  padding: 3px 5px;

  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:focus {
    outline: 1px solid $color-default-white;
  }

  &:active {
    outline: none;
    border: none;
  }

  &-phone {
    font-size: 18px;
    font-weight: 700;

    @include vp-1199 {
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0;
      text-align: right;
      margin: 0;
      padding: 3px 0 0 12px;
    }

    @include vp-767 {
      font-size: 14px;
      font-weight: 600;
      line-height: 14px;
      text-align: right;
      padding: 8px 0 0 12px;
    }
  }
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 23px;
  row-gap: 15px;
  justify-content: center;
  list-style: none;
  padding-left: 10px;

  @include vp-1199 {
    margin-top: 0;
  }
}

.navigation__phone {
  display: flex;
  flex-wrap: nowrap;
  min-width: 142px;
  font-size: 18px;

  @include vp-767 {
    display: grid;
    grid-area: 2 / 1 / 3 / 3;
    min-width: 110px;
  }
}

.navigation__logo {
  display: block;
  width: 205px;
  height: 62px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @include vp-1199 {
    width: 144px;
    height: 44px;
    margin-left: 90px;
  }

  @include vp-767 {
    width: 112px;
    height: 34px;
    margin-left: 145px;
  }
}

.navigation__logo svg {
  @include vp-1199 {
    width: 144px;
    height: 44px;
  }

  @include vp-767 {
    width: 112px;
    height: 34px;
  }
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  padding: 20px 0;

  @include vp-1199 {
    gap: 22px;
    padding-top: 5px;
  }

  @include vp-767 {
    display: block;
  }
}

.nav__item {
  @include vp-1199 {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
  }

  @include vp-767 {
    min-width: 130px;
    padding-bottom: 15px;
  }
}
