.training {
  margin: 0;
  margin-bottom: 50px;
  border-bottom: rgba(2, 102, 193, 0.2) solid 1px;

  @include vp-1199 {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.training__wrapper {
  position: relative;
  margin: 50px auto;
  padding: 65px 120px 0;
  max-width: 1440px;

  @include vp-1199 {
    padding: 23px 45px 32px 45px;
    margin-bottom: 0;
  }

  @include vp-767 {
    padding: 6px 15px 15px;
  }
}

.training h2 {
  margin: 0;
  padding: 12px 50px 15px 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0;
  text-align: left;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
    padding-bottom: 3px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    padding-top: 8px;
  }
}

.training h2::after {
  content: attr(data-value);
  position: absolute;
  left: 110px;
  top: 60px;
  font-size: 55px;
  font-weight: 800;
  line-height: 1;
  opacity: 0.03;

  @include vp-1199 {
    font-size: 40px;
  }

  @include vp-767 {
    font-size: 26px;
    left: 15px;
    top: 12px;
  }
}

.training__description {
  font-size: 16px;
  line-height: 24px;
  max-width: 920px;
  margin-bottom: 56px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
  color: #2d383f;
  padding-right: 50px;

  @include vp-1199 {
    padding-right: 150px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
    padding-right: 0;
    margin-bottom: 36px;
  }
}

.training h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
  padding-bottom: 20px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px;
    padding-top: 12px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;
  }
}

.training__swiper {
  position: static;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
  height: 100%;
}

.training__card {
  margin: 0 auto;
  cursor: grab;
  padding: 20px 18px 20px 20px;
  border: 1px solid $color-default-white;
  box-shadow: 5px 0 40px 5px rgba(28, 51, 116, 0.1);
  height: auto;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    max-width: 206px;
    padding: 10px 15px 20px 15px;
  }

  @include vp-767 {
    max-width: 290px;
    padding: 17px 20px 30px;
  }
}

.training__card img {
  object-fit: cover;
  width: 100%;
}

.training .swiper-button {
  position: absolute;
  top: 38.5%;
  width: 37px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;
  background-color: #0266c1;
  fill: $color-default-white;
  z-index: 2;
  cursor: pointer;

  @include vp-1199 {
    top: 33.3%;
  }

  @include vp-767 {
    top: 35%;
  }

  &-prev {
    left: 86%;
    transform: translate(0, -10%);
    background-image: url("../img/sprite/arrow-left.svg");
    fill: $color-default-white;

    &:hover,
    &:focus {
      background-image: url("../img/sprite/arrow-left-hover.svg");
      background-size: 37px 35px;
      background-color: $color-default-white;
    }

    &:active {
      background-image: url("../img/sprite/arrow-left-active.svg");
      background-size: 37px 35px;
      background-color: #1c3374;
    }

    @include vp-1199 {
      left: 84%;
    }

    @include vp-767 {
      left: 71%;
    }
  }

  &-next {
    right: 8.5%;
    transform: translate(0, -10%);
    background-image: url("../img/sprite/arrow-right.svg");
    fill: $color-default-white;

    &:hover,
    &:focus {
      background-image: url("../img/sprite/arrow-right-hover.svg");
      background-size: 37px 35px;
      background-color: $color-default-white;
    }

    &:active {
      background-image: url("../img/sprite/arrow-right-active.svg");
      background-size: 37px 35px;
      background-color: #1c3374;
      fill: #ffffff;
    }
  }

  @include vp-1199 {
    right: 5.7%;
  }

  @include vp-767 {
    right: 4.5%;
  }
}
